@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #445128;
}

nav {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    padding: 0 1.5em;
    background-color: #606C38;
    font-family: 'Boogaloo', sans-serif;
    font-size: 20px;
}

nav .logo a {
    font-size: 25px;
    font-family: 'Boogaloo', sans-serif;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
}

nav i {
    font-size: 16px;
    padding-left: 5px;
    color: white;
}

nav .logo a:hover {
    color: #DDB928;
}

.nav-menu a:hover {
    color: #DDB928;
}

nav .nav-menu {
    position: absolute;
    right: 1.5em;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav .nav-item {
    display: inline-block;
}

nav .nav-item>a {
    display: inline-block;
    padding: 0 1.5em;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
}

nav .dropdown {
    position: relative;
}

nav .dropdown a::after {
    display: inline-block;
    margin-left: .5em;
    margin-bottom: 0.2em;
    vertical-align: middle;
    border-top: .3em solid #fff;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

nav .dropdown-menu {
    display: none;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
    left: 0;
    right: 0;
    top: 100%;
    padding: .5em 0;
    margin-top: -.5em;
    border-radius: .5em;
    background-color: #445128;
}

nav .dropdown:hover .dropdown-menu {
    display: block;
}

nav .dropdown-menu a {
    color: white;
}

nav .dropdown.show .dropdown-menu {
    display: block;
}

nav .dropdown-item {
    display: block;
    padding: 0 1.5em;
    font-size: .875em;
    color: #000;
    line-height: 3;
    text-decoration: none;
}

nav .btn-hamburger {
    display: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transform: translateY(-50%);
}

nav .btn-hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px;
    border-radius: 2px;
    transition: .3s ease-in-out;
}

nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
    position: absolute;
    top: 10px;
    opacity: .5;
}

nav .btn-hamburger span:nth-child(4) {
    transform: rotate(45deg) scale(0);
}

nav .btn-hamburger span:nth-child(5) {
    transform: rotate(-45deg) scale(0);
}

nav.opened .btn-hamburger span:nth-child(4) {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(5) {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
}

nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
    opacity: 0;
}

.container h2 {
    font-family: 'Boogaloo', sans-serif;
    font-size: 30px;
}

.services-container h2 {
    background-color: #606C38;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Boogaloo', sans-serif;
    font-size: 30px;
    color: white;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Boogaloo', sans-serif;
    font-size: 20px;
    color: black;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Boogaloo', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Boogaloo', sans-serif;
}

.input-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group textarea {
    resize: vertical;
}

.btn-research {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #606C38;
    color: white;
    font-family: 'Boogaloo', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-research:hover {
    background-color: #475029;
}

.titre-rapports {
    font-family: 'Boogaloo', sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.container {
    text-align: center;
    width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container h1 {
    background-color: #606C38;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Boogaloo', sans-serif;
    font-size: 30px;
    color: white;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    font-family: 'Boogaloo', sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #606C38;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-table {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #606C38;
    color: white;
    font-family: 'Boogaloo', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-table:hover {
    background-color: #475029;
}

@media screen and (max-width: 990px) {
    nav .nav-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #606C38;
        transition: bottom .5s ease-in-out;
        overflow: hidden;
    }

    nav.opened .nav-menu {
        bottom: 0;
    }

    nav .nav-item>a {
        display: block;
    }

    nav .dropdown-menu {
        position: relative;
        top: 0;
        margin: 0 1.5em;
        width: auto;
    }

    nav .btn-hamburger {
        display: block;
    }
}

@media screen and (max-width: 740px) {

    .container {
        text-align: center;
        max-width: 500px;
      
    }
}